{
  "slack_token": "SECRET",
  "slack_signing_secret": "SECRET",
  "auto_update_channel": "#covidupdate-test",
  "auto_update_hour": 6,
  "auto_update_minute": 0,
  "auto_update_areas": [
    {
      "BEZ": "Landkreis",
      "GEN": "Fürstenfeldrbuck"
    },
    {
      "BEZ": "Landkreis",
      "GEN": "Waldeck-Frankenberg"
    },
    {
      "BEZ": "Kreisfreie Stadt",
      "GEN": "Würzburg"
    },
    {
      "BEZ": "Landkreis",
      "GEN": "Würzburg"
    }
  ]
}